# Python for Data Science, AI & Development
## Module 02
### Lists and Tuples

Created: May 03, 2025<br>
Author: Kristian Padilla

### Tuples
a compound data type and data structure in Python
- an ordered sequence
- written as common-separated elements within parentheses "()"
- immutable

In [19]:
tuple1 = ("Hello", 1, 2.3)

# Indexing
tuple1[0]

'Hello'

In [20]:
tuple2 = ("World", 4, 5.6)

# Concatenating tuples
tuple1 + tuple2

('Hello', 1, 2.3, 'World', 4, 5.6)

In [21]:
# Slicing
tuple1[0:2]

('Hello', 1)

In [22]:
# Length
len(tuple1)

3

In [23]:
# Sorting
tuple3 = (5, 8, 2, 1)
sorted(tuple3)

[1, 2, 5, 8]

In [24]:
# Nesting
NT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
NT[2]

('pop', 'rock')

### Lists
a compound data type and data structure in Python
- an ordered sequence
- represented with square brackets "[]"
- mutable

In [25]:
list1 = ["Hello", 1, 2.3]

# Indexing
list1[0]

'Hello'

In [26]:
# Nesting (Lists and Tuples within Lists  )
list2 = [["pop", "rock"], (3, 4), ("disco", (1, 2))]
list2[2]

('disco', (1, 2))

In [27]:
# Slicing
list2[0:2]

[['pop', 'rock'], (3, 4)]

In [28]:
# Concatenating lists
list1 + list2

['Hello', 1, 2.3, ['pop', 'rock'], (3, 4), ('disco', (1, 2))]

In [29]:
# Extending lists (due to mutability)
list1.extend(list2)
list1

['Hello', 1, 2.3, ['pop', 'rock'], (3, 4), ('disco', (1, 2))]

In [30]:
# Appending lists
list3 = ["Name", 8, 9.1]
list3.append(["pop", 10])
list3

['Name', 8, 9.1, ['pop', 10]]

In [31]:
# Changing list elements
list3[0] = "John"
list3

['John', 8, 9.1, ['pop', 10]]

In [32]:
# Deleting list elements
del(list3[0])
list3

[8, 9.1, ['pop', 10]]

In [35]:
# Splitting strings into a list
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [38]:
# Aliasing 1
A = [1, 2, 3]
B = A
B

[1, 2, 3]

In [39]:
# Aliasing 2
A[0] = 4
B

[4, 2, 3]

In [40]:
# Cloning
B = A[:]
A[0] = 1
B

[4, 2, 3]